
nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

header nav {
  margin-top: 25px;
}

header nav ul {
  float: right;
}

header nav li {
  float: left;
  padding-right: 2px;
}

.date {
  float: left;
}

.print img {
  margin-right: 3px;
}

aside {
  padding-top: 30px;
  padding-bottom: 60px
}

aside img {
  float: left;
}

section hr {
  border-bottom: 1px solid #eee;
  height: 0;
}

footer section p{
  padding: 50px 0;
  line-height: 1.5em;
  text-align: center;
  color: #aaa;
}